<h1>Dodawanie przepisu</h1>

<h2>Dodawanie nowego przepisu:</h2>

<div id="add-recipe-basic">
  <form>
    <fieldset>
      <legend>Podstawowe informacje:</legend>
        <label class="form-name">Nazwa:<br>
          <input type="text"  [(ngModel)]="recipe.name"><br>
        </label><br>
        <label class="form-name">Treść przepisu:<br>
          <textarea type="text" class="description" [(ngModel)]="recipe.contentOfRecipe"></textarea><br>
        </label><br>
        <label class="form-name">Składniki:<br>
          <textarea type="text" class="description" [(ngModel)]="recipe.ingredients"></textarea><br>
        </label><br>
    </fieldset>
  </form>
</div>

<div id="add-recipe-basic-macro">
  <form>
    <fieldset>
      <legend>Podstawowe makroelementy:</legend>
        <label class="form-name">Waga [g]:<br>
          <input type="text"  [(ngModel)]="recipe.weight"><br>
        </label><br>
        <label class="form-name">Kilokalorie [kcal]:<br>
          <input type="text"  [(ngModel)]="recipe.kilocalorie"><br>
        </label><br>
        <label class="form-name">Białka [g]:<br>
          <input type="text"  [(ngModel)]="recipe.protein"><br>
        </label><br>
        <label class="form-name">Węglowodany [g]:<br>
          <input type="text"  [(ngModel)]="recipe.carbohydrates"><br>
        </label><br>
        <label class="form-name">Tłuszcze [g]:<br>
          <input type="text"  [(ngModel)]="recipe.fats"><br>
        </label><br>
    </fieldset>
  </form>
</div>

<div id="add-recipe-extended">
  <form>
    <fieldset>
      <legend>Dodatkowe informacje:</legend>
        <label class="form-name">Opis:<br>
          <textarea type="text" class="description" [(ngModel)]="recipe.description"></textarea><br>
        </label>
    </fieldset>
  </form>
</div>

<div id="button">
  <button id="submit-button" (click)="addNewRecipe()">Dodaj nowy przepis</button>
</div>

