<br>
<br>
<h1>Obliczanie zapotrzebowania</h1>
<br>
<p>Obliczenia, które są wykonywane stanowią jedynie przybliżone zalecane wartości zapotrzebowania na dane makroskładniki i są zależne
  od cech indywidualnych danego organizmu jak oraz innych indywidualnych czynników.<br> Podczas obliczania należy również zwrócić uwagę, że
  aplikacja daje najlepsze wartości gdy parametry obliczeń znajdują się między wartościami zalecanymi.
  <br>
  <br>
Obliczenia wykonywane są na podstawie kilku parametrów takich jak:</p>

  <p><b>Wzrost</b> - Wartość zalecane to od 130 cm do 220 cm,</p>
  <p><b>Waga</b> - Wartość zalecane to od 40 kg do 120 kg,</p>
  <p><b>Wiek</b> - Wartość zalecane to od 15 lat do 65 lat,</p>
  <p><b>Rodzaj diety</b> - Wartości do wyboru:</p>
    <ul>
      <li><b>Odchudzanie,</b></li>
      <li><b>Utrzymanie wagi,</b></li>
      <li><b>Nabranie masy mięśniowej,</b></li>
    </ul>

<p><b>Aktywność ruchowa</b> - Wartości do wyboru:</p>
    <ul>
      <li><b>brak - 1 -</b> praca siedzaca, brak ćwiczeń, brak ruchu</li>
      <li><b>niska - 2 -</b> praca siedzaca, ćwiczeń 1 raz na tydzień</li>
      <li><b>średnia - 3 -</b> praca w ruchu, ćwiczeń 2 razy na tydzień</li>
      <li><b>duża - 4 -</b> praca w ruchu, ćwiczenia 3-4 razy na tydzień</li>
      <li><b>intensywna - 5 -</b> ciężka fizyczna praca, ćwiczenia 3-4 razy na tydzień lub częściej.</li>
    </ul>
<p><b>Płeć</b> - Wartości do wyboru:</p>
  <ul>
    <li><b>Mężczyzna </b></li>
    <li><b>Kobieta </b></li>
  </ul>

<div id="demandContentButton">
  <a href="oblicz/zapotrzebowanie/obliczenia">
    <button id="demandButton"><b>Akceptuje i przechodzę dalej</b></button>
  </a>
</div>
