<h1>Dodawanie pomiaru</h1>

<h2>Dodawanie nowego pomiaru:</h2>

<div id="add-measurement-basic">
  <form>
    <fieldset>
      <legend>Podstawowe informacje:</legend>
        <label class="form-name">Waga [kg]:<br>
        <input type="text"  [(ngModel)]="measurement.weight"><br>
        </label><br>
        <label class="form-name">Wzrost [cm]:<br>
        <input type="text"  [(ngModel)]="measurement.growth"><br>
        </label><br>
    </fieldset>
  </form>
</div>

<div id="add-measurement-basic-measurements">
  <form>
    <fieldset>
      <legend>Pomiary:</legend>
        <label class="form-name">Biceps [cm]:<br>
          <input type="text"  [(ngModel)]="measurement.bicepsCircumference"><br>
        </label><br>
        <label class="form-name">Łydka [cm]:<br>
          <input type="text"  [(ngModel)]="measurement.calfCircumference"><br>
        </label><br>
        <label class="form-name">Klatka [cm]:<br>
         <input type="text"  [(ngModel)]="measurement.chestCircumference"><br>
        </label><br>
        <label class="form-name">Biodra [cm]:<br>
          <input type="text"  [(ngModel)]="measurement.hipSize"><br>
        </label><br>
        <label class="form-name">Udo [cm]:<br>
          <input type="text"  [(ngModel)]="measurement.thighCircumference"><br>
        </label><br>
        <label class="form-name">Talia [cm]:<br>
          <input type="text"  [(ngModel)]="measurement.waistSize"><br>
        </label><br>
    </fieldset>
  </form>
</div>

<div id="add-measurement-extended">
  <form>
    <fieldset>
      <legend>Dodatkowe informacje:</legend>
      <label class="form-name">Opis:<br>
        <textarea type="text" class="description" [(ngModel)]="measurement.description"></textarea><br>
      </label><br>
    </fieldset>
  </form>
</div>

<div id="button">
  <button id="submit-button" (click)="addNewMeasurement()">Dodaj nowy przepis</button>
</div>
