<br>
<br>
<br>
<p id="header">Food4Life</p>
<br>
<br>
<div id="homePageContent">
  <h2><b>Witaj użytkowniku!</b></h2>
  <br>
<p> Zdarzyło ci się mieć problem z utrzymaniem diety? Twoja waga cały czas rośnie? Albo masz problem z nabraniem odpowiedniej masy mięśniowej?<br>
  Odpowiednia dieta od dziś nie będzie już twoim problemem! Chcielibyśmy ci przedstawić aplikację Food4Life!</p>
  <br>
  <br>
  <h2><b>Co potrafi nasza aplikacja?</b></h2>
<ul>
  <li>Umożliwa obliczenie dziennego zapotrzebowania na makroskładniki co ułatwia prowadzenie diety,</li>
  <li>Pozwala stworzyć własny plan żywieniowy obliczony na podstawie wcześniej wyliczonego zapotrzebowania,</li>
  <li>Pozwala zapisywać i przechowywać zarówno produkty jak i przepisy,</li>
  <li>Użytkownik otrzymuje możliwość przeglądania również innych przepisów innych użytkowników,</li>
  <li>Pozwala oceniać i komentować przepisy innych użytkowników,</li>
  <li>Zapisywać pomiary obwodowe pozwalające ocenić postęp diety, która może być połączona z ćwiczeniami!</li>
</ul>
<br>
  <h3><b>Nie czekaj, dołącz do nas i zostań użytkownikiem Food4Life!</b></h3>
</div>
