<h1>Dodawanie produktu</h1>

<h2>Dodawanie nowego produktu:</h2>


<div id="add-product-basic">
  <form>
 <fieldset>
   <legend>Podstawowe informacje:</legend>
   <label class="form-name"><span class="form-name">Nazwa:</span><br>
     <input type="text"  [(ngModel)]="product.name"><br>
   </label><br>
   <label class="form-name">Waga: [g]:<br>
    <input type="text"  [(ngModel)]="product.weight"><br>
   </label><br>
   <label class="form-name">Kilokalorie [kcal]:<br>
    <input type="text"  [(ngModel)]="product.kilocalorie"><br>
   </label><br>
   <label class="form-name">Białka [g]:<br>
     <input type="text"  [(ngModel)]="product.protein"><br>
   </label><br>
   <label class="form-name">Węglowodany [g]:<br>
     <input type="text"  [(ngModel)]="product.carbohydrates"><br>
   </label><br>
   <label class="form-name">Tłuszcze [g]:<br>
     <input type="text"  [(ngModel)]="product.fats"><br>
   </label><br>
 </fieldset>
  </form>
 </div>

<div id="add-product-extended">
    <fieldset>
      <legend>Dodatkowe informacje:</legend>
      <label class="form-name">Opis:<br>
    <input type="text" id="description" [(ngModel)]="product.description"><br>
      </label><br>
      <label class="form-name">Alergeny:<br>
    <input type="text"  [(ngModel)]="product.allergens"><br>
      </label><br>
    </fieldset>
</div>

<div id="button">
  <button id="submit-button" (click)="addNewProduct()">Dodaj nowy produkt</button>
</div>

