<div id="containerMenu">

  <app-button-show-user></app-button-show-user>

  <app-button-check-product></app-button-check-product>

  <app-button-check-recipe></app-button-check-recipe>

  <app-button-add-product></app-button-add-product>

  <app-button-add-recipe></app-button-add-recipe>

  <app-button-add-measurement></app-button-add-measurement>

  <app-button-add-plan></app-button-add-plan>

  <app-button-macronutrients-calculation> </app-button-macronutrients-calculation>

  <app-button-show-product></app-button-show-product>

  <app-button-show-recipe></app-button-show-recipe>

  <app-button-show-measurement></app-button-show-measurement>

  <app-button-show-plan></app-button-show-plan>

  <app-button-show-classification></app-button-show-classification>

  <app-button-show-user-classification></app-button-show-user-classification>

</div>
